<template>
    <div class="w-full px-3 mb-12">
        <label for="" class="text-xs font-semibold px-1">{{label}}</label>
        <div class="flex">
            <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-account-outline text-gray-400 text-lg"></i></div>
            <input :type="type" :value="value" @input="updateValue($event.target.value)" :class="{'border-red-500':!!error}" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500">
            <p class="text-red-500 text-xs italic" v-if="!!error">{{error}}</p>
        </div>
    </div>
</template>

<script>
    export default {
        name:"Input",
        props:["error","label","type","value"],
        methods:{
            updateValue(value){
                this.$emit("input",value)
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>